@import url(https://weloveiconfonts.com/api/?family=iconicstroke|entypo|brandico|maki|zocial);
* {
  margin: auto;
}
html,
body {
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: lato, sans-serif;
  line-height: 1.5em;;
}
a {
  text-decoration: none;
  color: none;
}
a:hover {
  text-decoration: none !important;
  color: #ffffff;
}
a:active {
  text-decoration: none !important;
  color: #ffffff;
}
h2, h3, h4{
  font-size: 24;
  font-weight: 600;
  letter-spacing: 1px;
}

#container {
  font-size: 14px;
  width: 100%;
}
#social-info {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(255, 255, 255);
  width: 100%;  
  justify-content: space-between;
}
.social-info-basic, .social-info-icon  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
  padding: 0 10px 0 0 ;
  color: #1b1b1b;
}
.social-info-basic ul:first-of-type{
padding-right: 10px;
}
ul{
  list-style: none;
  display:flex;
  flex-flow: row nowrap;
  margin-bottom: 0 !important;
}
a:hover {
  text-decoration: none;
}
.zocial {
  padding-right: 10px;
}
/* zocial */
[class*="zocial-"]::before {
  font-family: 'zocial', sans-serif;
  color: rgb(0, 140, 255);
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #1067a1;
  font-weight: 700;
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
/* iconicfill */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
  color:rgb(255, 7, 7);
  font-size: 20px;
}
[class*="iconicstroke-"]:before {
  font-family: 'iconicstroke', sans-serif;
  padding: 0 10px;
}
ul a {
  padding-left: 10px;  
  margin-bottom: 0 !important;
}
/* .navbar {
  display: inline-block !important;
  padding: 0 !important;
}
#navbar a:hover {
  text-decoration: none !important;
  color: #4e575c;
} 
#navbar {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between; 
  padding:0;
  width:100%;
  background-color:  rgba(0, 0, 255);
}
#navbar a {
  color:  #ffffff !important;
} */
#navbar {
  background-color:  rgba(0, 0, 255);
}
.navbar {
  padding: 0 !important;
}
.navbar button {
  width: 10%;
  border: none;
  background-color:transparent;
  margin-right: 1rem;
}
.navbar-toggler {
  font-size: 1rem !important;
}
.navbar-toggler-icon {
  height: .15rem !important;
  width: 100% !important;
  background-color: #eeeeee !important;
}
.navbar-brand {
  margin-left: 0 !important;
}
.navbar-expand-lg {
  justify-content: space-between !important;
}
.logo, .menu  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
}
.logo {
  padding-left: 50px;
}
.logo img {
  height: 55px;
  width: 100%;
}
.menu {
  padding-right: 50px;
  font-weight: 600; 
  justify-content: right !important ;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.menu li a {
  text-align: center;
  display: block;
  color: white;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #03035e;
}
.menu a:active {
  background-color: #03035e;
}
/* .menu a{
  background-color: #03035e !important;
} */
.navbar-collapse {
  flex-grow: 0 !important;
}
#top-info {
  width: 100%;
  margin: 0;
  padding-top: 0;
}
#top-info-content {
  width: 45%;
  padding: 100px 0 100px 260px; 
}
#top-info-content  h2{
  font-size: 25px;
  align-self: auto;
}
#top-info-content .buttons {
  margin-top: 40px;
}
button {
  padding: 15px;
  width: 25%;
  border-radius: 5px;
  border: none;
  background-color: #48c2f7;
  box-shadow: 2px 2px 2px 1px rgba(148, 147, 147, 0.267);
  margin-right: 20px;
}
.whitelabel {
  height:auto;
  /* margin-top: 8rem; */
}
iframe {
  overflow: scroll;
  border: 0px;
  min-height: 350px; 
  height: auto;
  background-color: rgb(250, 250, 250); 
  width: 100%;
  margin-top: 40px;
}
.quicklinks button {
  width: auto;
  margin: 30px 0 0;
  font-weight: 500;
}
.quicklink {
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  padding:30px 80px;
  color: #6f7c83;
}

.quicklink-body {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
}
.quicklink a {
  color: #fafafa;
}
.visa {
  background: url('https://res.cloudinary.com/kinkidy/image/upload/v1592770665/daj/visa.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  background-position: center;
  width: 100%;
}
.ticket {
  background: url('https://res.cloudinary.com/kinkidy/image/upload/v1592780722/daj/Optimized-2c.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  background-position: center;
  width: 100%;
}
.get_in_touch {
  background: url('https://res.cloudinary.com/kinkidy/image/upload/v1592770664/daj/contact.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
  background-position: center;
  width: 100%;
}
.content-static {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 150px;
}
.content-static-img {
  background: url("https://res.cloudinary.com/kinkidy/image/upload/v1591312973/daj/img3.png");
  /* z-index: 1; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  padding: 180px 0;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}
.content-static-headings {
  text-align: center;
  padding: 7.5rem 1.5rem;
  border-radius: 5%;
  margin-right: -40px;
  height: auto;
  background-color: rgba(123, 247, 189, 0.644);
  color:#6f7c83 ;
}
.content-static-headings button {
  background: transparent;
  border: solid 1px #6f7c83 ;
  border-radius: 4px;
  box-shadow: none;
  width: 40%;
  font-weight: 500;
  color: #6f7c83;
  margin-top: 20px;
}
.content-static-headings a {
  color: #6f7c83;
}
.discover {
  background-color: #0000fff1;
  border-radius: 5px 40px ;
  padding: 6.25rem 5rem;
  margin-top: 6.25rem ;
  margin-bottom: 8.25rem;
  width: 90%;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  font-size: 18px;
  color: #f1f1f1;
}
.discover a {
  text-decoration: none;
  color: #bfc0c2;
}
.discover h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
.newsletter {
  margin: 50px 0;
  padding: 50px 50px 30px 50px;
  background-color: #f3f0f0;
  text-align: center;
  color: #657279
}
.newsletter input {
  padding: 12px 0;
  border: solid 1px rgba(170, 168, 168, 0.712);
  border-radius: 5px;
  width: 35%;
}
input {
  text-align: center;
}
.newsletter button {
  margin-bottom: 25px;
  width: 10%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
  color: #eeeeee;
}
.newsletter-heading {
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.01);
}
.testimony {
  padding: 20px 0;
}
.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  padding: 50px;
}
.footer-link {
  height: auto;
  width: 300px;
  padding: 30px;
  border: solid 1px rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px rgba(97, 97, 97, 0.123);
}
.footer-end {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  width:60%;
  text-align: center;
  border-top: 1px solid #e2e6e9;
  border-width: 60%;
  color:#657279;
}


/* Responsiveness  */
@media screen and (max-width:450px) {
  .mobile-quicklinks button {
    width: 90% !important;
  }
}
@media screen and (max-width:550px) {
  .visa, .get_in_touch, .ticket {
    height: 10rem;
  }
  .navbar-brand{
    width: 85%;
    margin: 0 !important;
  }
}
@media screen and (max-width:990px){
  .menu{
    padding-right: 0 !important;
  }
  .menu li {
    margin-bottom: .8rem;
  }
  .menu li a {
    padding: 16px 52px;
  }
  .navbar-nav .nav-link{
    padding: 16px 52px !important;
  }
  ul:last-child{
    margin-bottom: 2rem;
  }
}
@media screen and (min-width:1000px) {
  .mobile-quicklinks {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  #social-info a{
    display: none;
  }
  .navbar-brand {
    padding: .2rem 0 !important;
  }
  .logo img {
    height: 3.4rem;
  }
  .quicklinks {
    display: none;
  }
  .mobile-quicklinks .quicklink {
    display: block;
    height:auto;
  }
  .mobile-quicklinks button {
    width: 50%;
    margin-top: 1rem;
  }
  .quicklink-body {
    text-align: center;
    margin-top: 2rem;
  }
  .discover {
    padding: 4.5rem 1rem;
    font-size:0.9rem;
    margin: 6rem auto 8rem;
    width:80%
  }
  .content-static {
    display: block;
  }
  .content-static-headings {
    margin: 0 2rem 3rem;
    display: block;
  }
  .content-static-img {
    display: none;
  }
  .newsletter input {
    margin: 1rem auto;
    width: 100%;
  }
  .newsletter button {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .content-static-headings {
    padding: 6.5rem .5rem;
    margin: 0 3rem;
}
}
