@import url(https://weloveiconfonts.com/api/?family=iconicstroke|entypo|brandico|maki|zocial);

html,
body {
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: lato, sans-serif;
  line-height: 1.5em;;
}
a {
  text-decoration: none;
  color: none;
}
h2, h3, h4{
  font-size: 24;
  font-weight: 600;
  letter-spacing: 1px;
}
* {
  margin: auto;
}
#container {
  font-size: 14px;
  width: 100%;
}
#social-info {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(255, 255, 255);
  width: 100%;  
  justify-content: space-between;
}
.social-info-basic, .social-info-icon  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
  padding: 10px 10px 0 10px ;
  color: #1b1b1b;
}
.social-info-basic ul:first-of-type{
padding-right: 10px;
}
ul{
  list-style: none;
  display:flex;
  flex-flow: row nowrap;
}
a:hover {
  text-decoration: none;
}
.zocial {
  padding-right: 10px;
}
/* zocial */
[class*="zocial-"]::before {
  font-family: 'zocial', sans-serif;
  color: rgb(0, 140, 255);
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #1067a1;
  font-weight: 700;
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
/* iconicfill */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
  color:rgb(255, 7, 7);
  font-size: 20px;
}
[class*="iconicstroke-"]:before {
  font-family: 'iconicstroke', sans-serif;
  padding: 0 10px;
}
ul a {
  padding-left: 10px;
}
.navbar {
  display: inline-block !important;
  padding: 0 !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: right !important ;
}
.menu a {
  margin: 0;
  padding: 3rem;
}
#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; 
  padding:0;
  width:100%;
  background-color:  rgba(0, 0, 255);
}
#navbar a {
  color:  #d0d2d3 !important;
}
#navbar a:hover{
  text-decoration: none;
}
.logo, .menu  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
}
.logo {
  padding-left: 50px;
}
.menu {
  padding-right: 50px;
  font-weight: 600;
}
.menu a{
  padding: 0 10px;
}
#top-info {
  width: 100%;
  margin: 0;
  padding-top: 0;
}
#top-info-content {
  width: 45%;
  padding: 100px 0 100px 260px; 
}
#top-info-content  h2{
  font-size: 25px;
  align-self: auto;
}
#top-info-content .buttons {
  margin-top: 40px;
}
button {
  padding: 15px;
  width: 25%;
  border-radius: 5px;
  border: none;
  background-color: #48c2f7;
  box-shadow: 2px 2px 2px 1px rgba(148, 147, 147, 0.267);
  margin-right: 20px;
}
.whitelabel {
height:auto;
margin-top: 8rem;
}
iframe {
  overflow: scroll;
  border: 0px;
  min-height: 350px; 
  height: auto;
  background-color: rgb(250, 250, 250); 
  width: 100%;
  /* padding-top: 30px; */
  margin-top: 40px;
}
.quicklinks {
  display: flex;
  flex-flow: row nowrap;
  margin: 50px 0 150px 0;
}
.quicklinks button {
  width: auto;
  margin: 20px 0;
  box-shadow: none;
  border-radius: 6px;
  font-weight: 700;
}
.quicklink {
  width: 25%;
  box-shadow: 5px  4px 15px rgba(0,0,0,.2);
  border-radius: 5px;
}
.quicklink-body {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 40px 15px;
}
.quicklink a {
  color: #fafafa;
}
.visa {
  background: url('/images/11.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ticket {
  background: url('/images/2c.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.get_in_touch {
  background: url('/images/5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-static {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.content-static-img {
  background: url(./images/img3.png);
  /* z-index: 1; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  padding: 180px 0;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}
.content-static-headings {
  text-align: center;
  padding: 120px 25px;
  border-radius: 5%;
  margin-right: -40px;
  height: auto;
  background-color: rgba(123, 247, 189, 0.644);
  color:#6f7c83 ;
}
.content-static-headings button {
  background: transparent;
  border: solid 1px #6f7c83 ;
  border-radius: 4px;
  box-shadow: none;
  width: 40%;
  font-weight: 500;
  color: #6f7c83;
  margin-top: 20px;
}
.discover {
  background-color: #0000fff1;
  border-radius: 5px 40px ;
  padding: 100px 0;
  margin-top: 150px ;
  margin-bottom: 150px;
  width: 95%;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  font-size: 18px;
  color: #000000;
}
.discover a {
  text-decoration: none;
  color: #bfc0c2;
}
.discover h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
.newsletter {
  margin: 50px 0;
  padding: 50px 50px 30px 50px;
  background-color: #f3f0f0;
  text-align: center;
  color: #657279
}
.newsletter input {
  padding: 12px 0;
  border: solid 1px rgba(170, 168, 168, 0.712);
  border-radius: 5px;
  width: 35%;
}
input {
  text-align: center;
}
.newsletter button {
  margin-bottom: 25px;
  width: 10%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
  color: #eeeeee;
}
.newsletter-heading {
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.01);
}
.testimony {
  padding: 20px 0;
}
.partners {
  width: 95%;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
#exampleSlider {
  position: relative;
}
@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}
#exampleSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-right: none;
  width: 20%;
}
.item img {
  height: 80px;
}

@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background:transparent;
  font-size: 15px;
  outline: 0;
  width: 4%;
  border-radius: 50%;
  box-shadow: none;
  top: 25px;
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
  left: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  right: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}
.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  padding: 50px;
}
.footer-link {
  height: auto;
  width: 300px;
  padding: 30px;
  border: solid 1px rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px rgba(97, 97, 97, 0.123);
}
.footer-end {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  width:60%;
  text-align: center;
  border-top: 1px solid #e2e6e9;
  border-width: 60%;
  color:#657279;
}
