@import url(https://weloveiconfonts.com/api/?family=iconicstroke|entypo|brandico|maki|zocial);

html,
body {
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  /* font-family: lato, sans-serif; */
  line-height: 1.5em;;
}
a {
  text-decoration: none;
  color: none;
}
a:hover {
  text-decoration: none !important;
  color: #ffffff;
}
a:active {
  text-decoration: none !important;
  color: #ffffff;
}
h2, h3, h4{
  font-size: 24;
  font-weight: 600;
  letter-spacing: 1px;
}
* {
  margin: auto;
}
#container {
  font-size: 14px;
  width: 100%;
}
#social-info {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(255, 255, 255);
  width: 100%;  
  justify-content: space-between;
}
.social-info-basic, .social-info-icon  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
  padding: 0 10px 0 0 ;
  color: #1b1b1b;
}
.social-info-basic ul:first-of-type{
padding-right: 10px;
}
ul{
  list-style: none;
  display:flex;
  flex-flow: row nowrap;
}
a:hover {
  text-decoration: none;
}
.zocial {
  padding-right: 10px;
}
/* zocial */
[class*="zocial-"]::before {
  font-family: 'zocial', sans-serif;
  color: rgb(0, 140, 255);
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #1067a1;
  font-weight: 700;
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
/* iconicfill */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
  color:rgb(255, 7, 7);
  font-size: 20px;
}
[class*="iconicstroke-"]:before {
  font-family: 'iconicstroke', sans-serif;
  padding: 0 10px;
}
 ul{
  margin-bottom: 0 !important;
}
ul a {
  padding-left: 10px;
}
#navbar {
  background-color:  rgba(0, 0, 255);
}
.navbar {
  padding: 0 !important;
}
.navbar button {
  width: 10%;
  border: none;
  background-color:transparent;
  margin-right: 1rem;
}
.navbar-toggler {
  font-size: 1rem !important;
}
.navbar-toggler-icon {
  height: .15rem !important;
  width: 100% !important;
  background-color: #eeeeee !important;
}
.navbar-brand {
  margin-left: 0 !important;
}
.navbar-expand-lg {
  justify-content: space-between !important;
}
.logo, .menu  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
}
.logo {
  padding-left: 50px;
}
.logo img {
  height: 55px;
  width: 100%;
}
.menu {
  padding-right: 50px;
  font-weight: 600; 
  justify-content: right !important ;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.menu li a {
  text-align: center;
  display: block;
  color: white;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #03035e;
}
.menu a:active {
  background-color: #03035e;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
#top-info {
  width: 100%;
  margin: 0;
  padding-top: 0;
}
#top-info-content {
    width: 45%;
    padding: 100px 0 100px 260px; 
}
#top-info-content  h2{
  font-size: 25px;
  align-self: auto;
}
#top-info-content .buttons {
    margin-top: 40px;
}
button {
  padding: 15px;
  width: 25%;
  border-radius: 5px;
  border: none;
  background-color: #48c2f7;
  box-shadow: 2px 2px 2px 1px rgba(148, 147, 147, 0.267);
  margin-right: 20px;
}

/* content starts here */
#content {
  text-align: center;
  background-color: #ffffff;
  padding-top: 5.5rem;
}
.hotel_content {
  margin: 0 auto !important;
  color: #657279;
  text-align: center;
  width: 60%;
}
.hotel_content h1 {
  margin-bottom: 1.5rem;
}
.hotel_content p {
  font-size: 20px;
  line-height: 2;
}
/*form styling*/
form {
  padding-top: 2.5rem;
  margin-top: 2rem;
  text-align: left;
  border: 2px solid #e0dfdf;
}
.flight_form {
  background: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding: 0 !important;
  width: 75%;
  box-shadow: rgb(46, 46, 46);
  color: #657279;
  }
.form_header_section {
  display: flex;
  min-width: 60%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
}
.form_row_header {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 2rem 0;
  padding: 0 5rem;
}
.flight_form .form_header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
}
.flight_form .form_sub_header {
  font-size: 0.8rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.form-control {
  font-size: 0.8rem;
}
.form_actions {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.form_actions .default_button {
  margin: 3rem 0;
  box-shadow: none;
  outline: none;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: gray;
  outline: 0;
  box-shadow: none;
}
form button {
  color: white;
  font-weight: 600;
}
.flight_form_footer {
  min-width: 100%;
  padding: 0.5rem;
  background-color: #0b0146;
  color: #fdffd6;
  text-align: center;
  font-size: 0.6rem;
  margin-bottom: 5rem;
}
.form-row {
  padding: 0 5rem;
}
.bottom_header {
  text-align: center;
  background-color:#5cd9c8;
  padding: 10px ;
}
.bottom_header .form_header {
  font-size: 0.8rem;
  font-weight: 500;
}
.copy_footer {
  color: #ffffff8a;
  min-width: 40%;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}
.content-static {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.content-static-img {
  background: url(./images/img3.png);
  /* z-index: 1; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  padding: 180px 0;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}
.content-static-headings {
  text-align: center;
  padding: 120px 25px;
  border-radius: 5%;
  margin-right: -40px;
  height: auto;
  background-color: rgba(123, 247, 189, 0.644);
  color:#6f7c83 ;
}
.content-static-headings button {
  background: transparent;
  border: solid 1px #6f7c83 ;
  border-radius: 4px;
  box-shadow: none;
  width: 40%;
  font-weight: 500;
  color: #6f7c83;
  margin-top: 20px;
}
.discover {
  background-color: #0000fff1;
  border-radius: 5px 40px ;
  padding: 100px 0;
  margin-top: 150px ;
  margin-bottom: 150px;
  width: 95%;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  font-size: 18px;
  color: rgb(19, 18, 18);   
}
.discover a {
  text-decoration: none;
  color: #bfc0c2;
}
.discover h3 {
  margin-bottom: 10px;
  font-size: 24px;
}
.newsletter {
  margin: 0px 0 50px;
  padding: 50px 50px 30px 50px;
  background-color: #f3f0f0;
  text-align: center;
  color: #657279
}
.newsletter input {
  padding: 12px 0;
  border: solid 1px rgba(170, 168, 168, 0.712);
  border-radius: 5px;
  width: 35%;
}
input {
  text-align: center;
}
.newsletter button {
  margin-bottom: 25px;
  width: 10%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
  color: #eeeeee;
}
.newsletter-heading {
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.01);
}
.testimony {
  padding: 20px 0;
}
.partners {
  width: 95%;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
#exampleSlider {
  position: relative;
}
@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}
#exampleSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-right: none;
  width: 20%;
}

.item img {
  height: 80px;
}

@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background:transparent;
  font-size: 15px;
  outline: 0;
  width: 4%;
  border-radius: 50%;
  box-shadow: none;
  top: 25px;
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
  left: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  right: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 50px;
}
.footer-link {
  height: auto;
  width: 300px;
  padding: 30px;
  border: solid 1px rgb(36, 36, 36);
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px rgba(97, 97, 97, 0.123);
}
.footer-end {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  width:60%;
  text-align: center;
  border-top: 1px solid #e2e6e9;
  border-width: 60%;
  color:#657279;
}

/* Responsiveness  */
@media screen and (max-width:550px) {
  #content{
    padding-top: 5rem;
  }
  .navbar-brand{
    width: 85%;
    margin: 0 !important;
  }
  .flight_form {
    width: 85%;
  }
  .form-row{
    padding: 0 2rem;
  }
  form button {
    width: 80%;
  }
}
@media screen and (max-width:990px){
  .menu{
    padding-right: 0 !important;
  }
  .menu li {
    margin-bottom: .8rem;
  }
  .menu li a {
    padding: 16px 52px;
  }
  .navbar-nav .nav-link{
    padding: 16px 52px !important;
  }
  ul:last-child{
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  #social-info a{
    display: none;
  }
  .navbar-brand {
    padding: .2rem 0 !important;
  }
  .logo img {
    height: 3.4rem;
  }
  .hotel_content{
    width: 70%;
  }
  .newsletter input {
    margin: 1rem auto;
    width: 100%;
  }
  .newsletter button {
    width: 100%;
  }
}
