@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|maki|zocial);

html,
body {
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: lato, sans-serif;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: none;
}
a:hover {
  text-decoration: none !important;
  color: #ffffff;
}
a:active {
  text-decoration: none !important;
  color: #ffffff;
}
h2, h3, h4{
  font-size: 24;
  font-weight: 600;
  letter-spacing: 1px;
}
* {
    margin: auto;
}
ul{
  list-style: none;
  display:flex;
  flex-flow: row nowrap;
  margin-bottom: 0 !important;
}
.zocial {
  padding-right: 10px;
}
/* zocial */
[class*="zocial-"]::before {
  font-family: 'zocial', sans-serif;
  color: rgb(0, 140, 255);
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #1067a1;
  font-weight: 700;
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
  font-size: 5rem;
  color: #48c2f7;
}
/* iconicfill */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
  color:rgb(255, 7, 7);
  font-size: 20px;
}
[class*="iconicstroke-"]:before {
  font-family: 'iconicstroke', sans-serif;
  padding: 0 10px;
}
ul a {
  padding-left: 10px;
}
#container {
  font-size: 14px;
  width: 100%;
}
#social-info {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(255, 255, 255);
  width: 100%;  
  justify-content: space-between;
}
.social-info-basic, .social-info-icon  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 0 10px 0 0 ;
  color: #1b1b1b;
}
.social-info-basic ul:first-of-type{
  padding-right: 10px;
}
/* .navbar {
  display: inline-block !important;
  padding: 0 !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: right !important ;
  flex-grow: 0;
}
#navbar {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between; 
   padding:0;
   width:100%;
   background-color:  rgba(0, 0, 255);
}
#navbar a {
  color:  #ffffff !important;
} */
#navbar {
  background-color:  rgba(0, 0, 255);
}
.navbar {
  padding: 0 !important;
}
.navbar button {
  width: 10%;
  border: none;
  background-color:transparent;
  margin-right: 1rem;
}
.navbar-toggler {
  font-size: 1rem !important;
}
.navbar-toggler-icon {
  height: .15rem !important;
  width: 100% !important;
  background-color: #eeeeee !important;
}
.navbar-brand {
  margin-left: 0 !important;
}
.navbar-expand-lg {
  justify-content: space-between !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.logo, .menu  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
}
.logo {
  padding-left: 50px;
}
.menu {
  padding-right: 50px;
  font-weight: 600;
}
.menu a{
  padding: 0 10px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.menu li a {
  text-align: center;
  display: block;
  color: white;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #03035e;
}
.menu a:active {
  background-color: #03035e;
}
.logo, .menu  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
}
.logo {
  padding-left: 50px;
}
.logo img {
  height: 55px;
  width: 100%;
}
.menu {
  justify-content: right !important ;
}
.menu a {
  margin: 0;
  padding: 3rem;
}
.menu {
  padding-right: 50px;
  font-weight: 600;
}
.menu a{
  padding: 0 10px;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
#top-info {
  width: 100%;
  margin: 0;
  padding-top: 0;
}
#top-info-content {
  width: 45%;
  padding: 100px 0 100px 260px; 
}
#top-info-content  h2{
  font-size: 25px;
  align-self: auto;
}
#top-info-content .buttons {
  margin-top: 40px;
}
button {
  padding: 15px;
  width: 25%;
  border-radius: 5px;
  border: none;
  background-color: #48c2f7;
  box-shadow: 2px 2px 2px 1px rgba(148, 147, 147, 0.267);
  margin-right: 20px;
}

/* content starts here */
#content {
  text-align: center;
  background-color: #ffffff;
  padding-top: 12rem;
}
.find_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap:1.5rem;
  row-gap: 5rem;
  justify-content: center;
  justify-items: center;
}

.address, .email, .phone {
  color:#657279 ;
  background-color: #ffff;
  border: 1px solid #f5f5ff;
  font-size: 1rem;
  font-weight: 600;
  width: 90%;
  height: 100%;
  padding: 1.5rem 3.5rem;
  text-align: initial;
  box-shadow:5px 2px 5px #c3c3c5 ;
  border-radius:4px
}
/* .address {
  margin-left:2.5rem;
} */
/* .phone {
  margin-right:2.5rem;
} */
.find_content_2 {
  margin: 5rem auto 0;
  background: rgba(255, 255, 255, 0.719);
  padding: 5rem 3rem;
  width: 60%;
}
.form-group {
  text-align: left !important;
}

form {
  padding: 2.5rem 2rem;
  margin-top: 2rem;
  text-align: left;
  border: 2px solid #e0dfdf;
}
.flight_form {
  background: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding: 0 !important;
  width: 60%;
  box-shadow: rgb(46, 46, 46);
  color: #657279;
  }
.form_header_section {
  display: flex;
  min-width: 60%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
}
.form_row_header {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 2rem 0;
  padding: 0 5rem;
}
.flight_form .form_header {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
}
.flight_form .form_sub_header {
  font-size: 0.8rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.form-control {
  font-size: 0.8rem;
}
.form_actions {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.form_actions .default_button {
  margin: 3rem 0;
  box-shadow: none;
  outline: none;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: gray;
  outline: 0;
  box-shadow: none;
}
form button {
  color: white;
  font-weight: 600;
    text-align: center !important;
}
.flight_form_footer {
  min-width: 100%;
  padding: 0.5rem;
  background-color: #0b0146;
  color: #fdffd6;
  text-align: center;
  font-size: 0.6rem;
  margin-bottom: 5rem;
}
.form-row {
  padding: 0 5rem;
}

/* form {
  padding: 2.5rem 5rem;
  margin-top: 2rem;
  text-align: left;
  border: 2px solid #e0dfdf;
}
form button {
  background-color:#48c2f7;
  color: #ffff;
  border: none;
  text-align: center !important;
  box-shadow: none;
} */
.newsletter {
  margin: 0 0 50px 0;
  padding: 50px 50px 30px 50px;
  background-color: #f3f0f0;
  text-align: center;
  color: #657279
}
.newsletter input {
  padding: 12px 0;
  border: solid 1px rgba(170, 168, 168, 0.712);
  border-radius: 5px;
  width: 35%;
}
input {
  text-align: center;
}
.newsletter button {
  margin-bottom: 25px;
  width: 10%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
  color: #eeeeee;
}
.newsletter-heading {
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.01);
}
.partners {
  width: 95%;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
 #exampleSlider {
    position: relative;
  }
  @media (max-width: 767px) {
    #exampleSlider {
      border-color: transparent;
    }
  }
  #exampleSlider .MS-content {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;
  }
  @media (max-width: 767px) {
    #exampleSlider .MS-content {
      margin: 0;
    }
  }
  #exampleSlider .MS-content .item {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border-right: none;
    width: 20%;
  }

  .item img {
    height: 80px;
  }
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 50px;
}

.footer-link {
    height: auto;
    width: 300px;
    padding: 30px;
    border: solid 1px rgb(36, 36, 36);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px rgba(97, 97, 97, 0.123);
}

.footer-end {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    width:60%;
    text-align: center;
    border-top: 1px solid #e2e6e9;
    border-width: 60%;
    color:#657279;
}

/* Responsiveness  */
@media screen and (max-width:550px) {
  #content {
    padding-top: 5rem;
  }
  .navbar-brand{
    width: 85%;
    margin: 0 !important;
  }
  .flight_form{
    width: 85%;
  }
  form {
    padding: 0;
  }
  form button {
    width: 80%;
  }
}
@media screen and (max-width:990px){
  .menu{
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 1000px) {
  #social-info a{
    display: none;
  }
  .navbar-brand {
    padding: .2rem 0 !important;
  }
  .logo img {
    height: 3.4rem;
    margin: 0;
  }
  .visa_content{
    width: 70%;
  }
  .newsletter input {
    margin: 1rem auto;
    width: 100%;
  }
  .newsletter button {
    width: 100%;
  }
}
