@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|maki|zocial);

html,
body {
  width: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: lato, sans-serif;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: none;
}
a:hover {
  text-decoration: none !important;
  color: #ffffff;
}
a:active {
  text-decoration: none !important;
  color: #ffffff;
}
h2, h3, h4{
  font-size: 24;
  font-weight: 600;
  letter-spacing: 1px;
}
* {
    margin: auto;
}
ul{
  list-style: none;
  display:flex;
  flex-flow: row nowrap;
}
.zocial {
  padding-right: 10px;
}
/* zocial */
[class*="zocial-"]::before {
  font-family: 'zocial', sans-serif;
  color: rgb(0, 140, 255);
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: #1067a1;
  font-weight: 700;
}
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
  font-size: 5rem;
  color: #48c2f7;
}
/* iconicfill */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
  color:rgb(255, 7, 7);
  font-size: 20px;
}
[class*="iconicstroke-"]:before {
  font-family: 'iconicstroke', sans-serif;
  padding: 0 10px;
}ul{
  list-style: none;
  display:flex;
  flex-flow: row nowrap;
}
ul a {
  padding-left: 10px;
}
#container {
  font-size: 14px;
  width: 100%;
}
#social-info {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(255, 255, 255);
  width: 100%;  
  justify-content: space-between;
}
.social-info-basic, .social-info-icon  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 10px 10px 0 10px ;
  color: #1b1b1b;
}
.social-info-basic ul:first-of-type{
  padding-right: 10px;
}
#navbar {
  background-color:  rgba(0, 0, 255);
}
.navbar {
  padding: 0 !important;
}
.navbar button {
  width: 10%;
  border: none;
  background-color:transparent;
  margin-right: 1rem;
}
.navbar-toggler {
  font-size: 1rem !important;
}
.navbar-toggler-icon {
  height: .15rem !important;
  width: 100% !important;
  background-color: #eeeeee !important;
}
.navbar-brand {
  margin-left: 0 !important;
}
.navbar-expand-lg {
  justify-content: space-between !important;
}
.menu a {
  margin: 0;
  padding: 3rem;
}
.logo, .menu  {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 !important;
}
.logo {
  padding-left: 50px;
}
.logo img {
    height: 55px;
    width: 100%;
}
.menu {
  padding-right: 50px;
  font-weight: 600;
}
.menu a{
  padding: 0 10px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.menu li a {
    text-align: center;
    display: block;
    color: white;
    text-align: center;
    padding: 26px 16px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #03035e;
}
.menu a:active {
    background-color: #03035e;
}
button {
    padding: 15px;
    width: 25%;
    border-radius: 5px;
    border: none;
    background-color: #48c2f7;
    box-shadow: 2px 2px 2px 1px rgba(148, 147, 147, 0.267);
    margin-right: 20px;
}
/* content starts here */
#content {
  text-align: center;
  background-color: #ffffff;
  padding-top: 12rem;
}
.package-details {
    text-align: center;
    width: 60%;
    color: #929191;
}
.package-details p {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 34px;
}
.find_content_2 {
    margin: 5rem auto 0;
    background: #f5f5f5;
    padding: 5rem 3rem;
    width: 60%;
}
.form-group {
  text-align: left !important;
}
form button {
  background-color:#48c2f7;
  color: #ffff;
  border: none;
  box-shadow: none;
}
.newsletter {
    margin: 0 0 50px 0;
    padding: 50px 50px 30px 50px;
    background-color: #f3f0f0;
    text-align: center;
    color: #657279
}
.newsletter input {
  padding: 12px 0;
  border: solid 1px rgba(170, 168, 168, 0.712);
  border-radius: 5px;
  width: 35%;
}
input {
  text-align: center;
}
.newsletter button {
  margin-bottom: 25px;
  width: 10%;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
  color: #eeeeee;
}
.newsletter-heading {
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.01);
}
.partners {
    width: 95%;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}
#exampleSlider {
position: relative;
}
@media (max-width: 767px) {
#exampleSlider {
    border-color: transparent;
}
}
#exampleSlider .MS-content {
margin: 15px 5%;
overflow: hidden;
white-space: nowrap;
}
@media (max-width: 767px) {
#exampleSlider .MS-content {
    margin: 0;
}
}
#exampleSlider .MS-content .item {
display: inline-block;
height: 100%;
overflow: hidden;
position: relative;
vertical-align: top;
border-right: none;
width: 20%;
}

.item img {
height: 80px;
}
  
@media (max-width: 1200px) {
#exampleSlider .MS-content .item {
    width: 25%;
}
}
@media (max-width: 992px) {
#exampleSlider .MS-content .item {
    width: 33.3333%;
}
}
@media (max-width: 767px) {
#exampleSlider .MS-content .item {
    width: 50%;
}
}
#exampleSlider .MS-content .item p {
font-size: 30px;
text-align: center;
line-height: 1;
vertical-align: middle;
margin: 0;
padding: 10px 0;
}
#exampleSlider .MS-controls button {
position: absolute;
border: none;
background:transparent;
font-size: 15px;
outline: 0;
width: 4%;
border-radius: 50%;
box-shadow: none;
top: 25px;
}
@media (max-width: 767px) {
#exampleSlider .MS-controls button {
    display: none;
}
}
#exampleSlider .MS-controls button:hover {
cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
left: 10px;
}
@media (max-width: 992px) {
#exampleSlider .MS-controls .MS-left {
    left: -2px;
}
}
#exampleSlider .MS-controls .MS-right {
right: 10px;
}
@media (max-width: 992px) {
#exampleSlider .MS-controls .MS-right {
    right: -2px;
}
}
.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 50px;
}
.footer-link {
    height: auto;
    width: 300px;
    padding: 30px;
    border: solid 1px rgb(36, 36, 36);
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px rgba(97, 97, 97, 0.123);
}
.footer-end {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    width:60%;
    text-align: center;
    border-top: 1px solid #e2e6e9;
    border-width: 60%;
    color:#657279;
}


/* Responsiveness  */
@media screen and (max-width:450px) {
  .mobile-quicklinks button {
    width: 90% !important;
  }
}

@media screen and (max-width:550px) {
  .visa, .get_in_touch, .ticket {
    height: 10rem;
  }
  .navbar-brand{
    width: 80%;
    margin: 0 !important;
  }
}
@media screen and (max-width: 1000px) {
  #social-info a{
    display: none;
  }
  .navbar-brand {
    padding: .2rem 0 !important;
  }
  .logo img {
    height: 3.4rem;
  }
}